<header class="header">
    <div class="navbar-container">
        <nav class="navbar">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="MentalBalance" class="logo-img">
                <a href="{{ url_for('general.inicio') }}" class="logo">Mental<span>Balance</span></a>
            </div>
            
            <div class="nav-content">
                <ul class="nav-links">
                    <li><a href="{{ url_for('general.mapas') }}">Cerca de ti</a></li>
                    <li><a href="{{ url_for('general.especialistas') }}">Especialistas</a></li>
                    <li><a href="{{ url_for('general.test') }}">Test mental</a></li>
                    <li><a href="{{ url_for('general.recursos') }}">Recursos</a></li>
                    <li><a href="{{ url_for('general.about') }}">Sobre nosotros</a></li>
                </ul>
                
                <div class="nav-buttons">
                    <a href="{{ url_for('general.login') }}" class="btn-login">Iniciar Sesión</a>
                    <a href="{{ url_for('general.registro') }}" class="btn-register">Regístrate</a>
                </div>
            </div>
        </nav>
    </div>
</header>